# Ignore build directories
/build/
/bin/
/obj/

# Ignore IDE specific files
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore cmake build directory
/cmake-build-debug/
/include/
/sqlite-amalgamation-3460100/
# Ignore dependency directories
/vcpkg/
/db/
/.idea/